<launch>
  <!-- Environment variable NEPI_EDGE_ROS_BRIDGE_NS is used for the parent namespace. Leave this
       variable unset to run nepi_edge_ros_bridge from root namespace '/' -->
  <arg name="device_ns" value="$(optenv NEPI_EDGE_ROS_BRIDGE_NS)" />

  <!-- Environment variable NEPI_EDGE_ROS_BRIDGE_PARAM_FILE can be used to specify the full path to the parameter file.
       Failure to load a complete parameter set into the $NEPI_EDGE_ROS_BRIDGE_NS/nepi_edge_ros_bridge namespace,
       either through this env. variable or some other mechanism will lead to runtime errors '/' -->
  <arg name="param_file" value="$(optenv NEPI_EDGE_ROS_BRIDGE_PARAM_FILE)" />

  <!-- Everything lives in the "device namespace" -->
  <group ns="$(arg device_ns)">

    <rosparam command="load" file="$(arg param_file)" ns="nepi_edge_ros_bridge" />
    <node name="nepi_edge_ros_bridge" pkg="nepi_edge_ros_bridge" type="nepi_edge_ros_bridge.py" respawn="true" output="log" />
    <!-- <node name="nepi_edge_ros_bridge" pkg="nepi_edge_ros_bridge" type="nepi_edge_ros_bridge.py" respawn="true" output="screen" /> -->
  </group>
</launch>
